{% extends 'base_accounts.html' %}
{% load static %}

{% block title %}Log in to Django Boards{% endblock %}
{% block stylesheet%}
<link rel="stylesheet" href="{% static 'Bootstrap/css/accounts.css' %}">

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<script type="application/x-javascript">
    addEventListener("load", function() {
      setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
      window.scrollTo(0, 1);
    }
</script>


<!-- Custom Theme files -->

<link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
<!-- //Custom Theme files -->
<!-- web font -->
<link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
<!-- //web font -->
{% endblock %}

{% block content %}

<div class="main-w3layouts wrapper">

    <div class="main-agileinfo">
        <div class="agileits-top">
            <form method="post" novalidate>
                {% csrf_token %}
                {% include 'includes/form.html' %}
                <input type="submit" value="LOGIN">
            </form>
            <p>New to Django Board? <a href="{% url 'signup' %}"> SignUp Now!</a></p>
            <div class="text-center">
            <small>
                 <a href="{% url 'password_reset' %}" class="font-weight-bold">Forgot your password?</a>
            </small>
        </div>
        </div>
    </div>

    <ul class="colorlib-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>

{% endblock %}
